__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.log

.venv/
venv/
env/
ENV/
.python-version


# Testing/coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache/
.tox/

.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

.vscode/
.idea/
.DS_Store
Thumbs.db

.env

databases/*.db
databases/*.sqlite3
databases/*.sqlite

.ipynb_checkpoints/